<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
    content="Explore our online golf shop for premium golf clubs, bags, shoes, top brands like Titleist, Callaway, and Adidas. Great deals, fast shipping, and expert customer service.">
<meta name="keywords"
    content="golf shop, golf clubs, golf drivers, golf irons, golf bags, golf shoes, Titleist, Callaway, Adidas golf, online golf store, golf equipment">
<meta name="author" content="Kevin Flanagan">