{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    {% include 'includes/meta.html' %}
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    {% include 'includes/corecss.html' %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% include 'includes/corejs.html' %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Golf Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        {% include 'includes/main-header.html' %}
        <div class="row bg-primary">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% block page_header %}
    {% endblock %}

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/messages/error-message.html' %}
        {% elif level == 30 %}
        {% include 'includes/messages/warning-message.html' %}
        {% elif level == 25 %}
        {% include 'includes/messages/success-message.html' %}
        {% else %}
        {% include 'includes/messages/info-message.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block postloadjs %}
    {% include 'includes/mailchimp-js.html' %}
    {% include 'includes/toast-show-js.html' %}
    {% endblock %}

</body>
</html>